<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyotsna.expensesfusion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginAndSignUp">
        <!-- SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity android:name=".MainActivity" />

        <!-- SignInActivity -->
        <activity
            android:name=".SignInActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- SignUpActivity -->
        <activity android:name=".SignUpActivity" />
    </application>

</manifest>
